.DS_Store
node_modules
npm-debug.log
.idea/
dump.rdb
public/*
dist/bundle*
server_dist
coverage/
.nyc_output/
spec_dist
scratch_dist
aws-config
git-hash
dist
client/**/*.js
server/**/*.js
spec/**/*.js
**/*.js.map
**/*.jsx
dist/*
integration_dist
sp*.tgz
